@import 'colors';
@import 'variables';

.inputField {
  text-align: left;

  .inputErrorMessage {
    min-height: var(--hds-text-sm);
  }
}
.inputError {
  input {
    border: 1px solid $red;
  }

  .inputErrorMessage {
    color: $red;
    margin-top: $sm-margin;
    font-size: var(--hds-text-sm);
  }
}
