@use "sass:map";
@use '~styles/layout';
@use '~styles/variables';

.heroWrapper {
  background-color: var(--color-summer);
  display: grid;
  position: relative;
  overflow: visible;
}

.kidsImageContainer {
  grid-template-columns: 1fr minmax(auto, variables.$containerMaxWidth) 1fr;
  display: grid;
  @include layout.respond-above(xl-minus) {
    background-image:
      linear-gradient(to bottom, var(--color-summer) 276px, var(--color-black-5) 0),
      url('/images/Culture_kids_background@2x.png');
    background-repeat: repeat-x;
    background-position: center bottom -2px;
    background-size: 100% 321px;
  }
}

.kidsImage {
  grid-column: 2;
  min-height: calc(0.265 * 100vw);
  @media (min-width: map.get(layout.$breakpoints, xl-minus)) {
    min-height: 0.265 * variables.$containerMaxWidth;
  }
  background-image: url('/images/Culture_kids@2x.jpg');
  background-repeat: no-repeat;
  background-position: center bottom -2px;
  background-size: 100% auto;
}

.heroContainer {
  display: grid;
  text-align: center;

  @include layout.heroContainer();
}

.hero {
  h1 {
    margin: variables.$spacing-layout-l 0 variables.$spacing-l;

    font-size: variables.$fontsize-heading-l;

    @include layout.respond-above(m) {
      font-size: variables.$fontsize-heading-xl;
    }
  }
  p {
    margin: 0 0 variables.$spacing-s;
  }

  .bodyXl {
    font-size: variables.$fontsize-body-xl;
    line-height: variables.$lineheight-l;
  }

  .buttonGroup {
    margin: variables.$spacing-2-xl auto 0;
    button {
      width: 80%;
      @include layout.respond-above(m) {
        width: 60%;
      }
    }
    .authenticateButton {
      background: transparent;
      border-color: var(--color-white);
      &:hover,
      &:focus,
      &:hover:focus {
        background-color: var(--color-summer-dark);
        border-color: var(--color-white);
      }
    }

    .registerButton {
      color: var(--color-black-90);
      border-color: var(--color-white);
      &:hover {
        background-color: var(--color-summer-light-20);
      }

      background-color: var(--color-white);
      margin-bottom: variables.$baseMargin;
    }
  }

  .notice {
    font-weight: 500;
  }
}
