@use '~styles/variables';
@use '~styles/fonts';
@use '~styles/layout';

$max-text-width: variables.$container-width-s;

.wrapper {
  background: var(--color-black-5);
  display: grid;
  justify-items: center;
  grid-template-rows: min-content;

  @include layout.respond-above(m) {
    padding: variables.$largePadding;
  }
}

.enrolContainer {
  max-width: variables.$container-width-m;
  padding-bottom: 0;

  background: var(--color-white);
}

.enrolWrapper {
  background: var(--color-white);
  padding: variables.$spacing-3-xl variables.$spacing-l;
  display: grid;
  justify-items: center;
}

.heading > h1 {
  margin: 0;
  max-width: $max-text-width;

  font-size: variables.$fontsize-heading-l;
  text-align: center;
}

.text {
  margin: 2rem 0;
  max-width: $max-text-width;
  line-height: variables.$lineheight-l;

  font-size: variables.$fontsize-body-l;
  text-align: center;
}

.occurrenceInfo {
  box-sizing: border-box;
  background: variables.$color-fog-medium-light;
  padding: variables.$spacing-xs;
  width: 100%;

  @include layout.respond-above(m) {
    width: unset;
  }
}

.actions {
  margin-top: variables.$spacing-s;

  @include layout.respond-above(m) {
    max-width: 55%;
  }
  button {
    margin-top: variables.$baseMargin;
    width: 100%;
  }
}
