@use '~styles/mixins';
@use '~styles/variables';
@use '~styles/fonts';
@use '~styles/layout';

.footer {
  overflow: hidden;
  position: relative;
  margin-top: calc(var(--spacing-s) * -1);
  --footer-background: var(--color-black-10) !important;
  a,
  a:visited {
    color: var(--color-black-60);
  }
}
