@use '~styles/variables';
@use '~styles/layout';

$childHeadingMargin: 0.65rem;

.childDetailWrapper {
  display: grid;
  padding: 0 variables.$basePadding;
  @include layout.respond-above(m) {
    padding: 0;
    grid-template-columns: 1fr 10fr 1fr;
  }
  @include layout.respond-below(m) {
    grid-auto-rows: min-content;
  }
}

.childIcon {
  height: variables.$largeMargin;
  width: variables.$largeMargin;
}

.childInfo {
  display: grid;
  grid-auto-flow: row;
  margin-bottom: variables.$baseMargin;
  .childInfoHeadingRow {
    display: inline-flex;
    justify-content: space-between;
    margin: variables.$baseMargin 0;

    .childName {
      display: grid;

      @include layout.respond-below(m) {
        > div {
          display: none;
        }
        flex-grow: 1;
      }
      @include layout.respond-above(m) {
        grid-template-columns: variables.$largeMargin 1fr;
        gap: variables.$baseMargin;
        > div {
          align-self: baseline;
          margin-top: $childHeadingMargin;
        }
      }

      h1 {
        margin: 0;
        align-self: center;
      }
    }
    .editChildInfoButton {
      border: none;
      padding: 0;
      background: transparent;
      height: variables.$buttonHeight;
      // HDS adds unwanted margin to icon
      div {
        margin-right: 0;
      }
      span {
        display: none;
        @include layout.respond-above(l) {
          display: inline;
          white-space: nowrap;
        }
      }
    }
  }

  .childInfoRow {
    padding-bottom: variables.$baseMargin;
    display: grid;
    grid-template-columns: variables.$largeMargin 1fr;
    gap: variables.$baseMargin;
    @include layout.respond-above(m) {
      > span {
        align-self: center;
      }
    }

    @include layout.respond-below(m) {
      > span {
        align-self: start;
      }
    }

    > div {
      justify-self: center;
    }
  }
}
