@import 'variables';

.userMenu {
  li {
    padding: 0;
    list-style: none;
    margin-bottom: $largeMargin;
    button {
      border: 0;
      font-weight: bold;
    }
  }
}
ul.userMenu {
  padding: 0;
}
