@use '~styles/variables';

.imgWrapper {
  height: variables.$imgHeight;
  width: variables.$imgHeight;
  display: flex;
  justify-items: center;
  align-items: center;

  img {
    height: inherit;
    width: inherit;
  }
}
