@use '~styles/variables';
@use '~styles/layout';

.container {
  display: flex;
  flex-direction: column;
}

.eventGroupDecoration {
  max-width: 100%;
  margin-top: variables.$spacing-xs;
  z-index: 10;
  align-self: center;
  margin-bottom: -8%;

  @include layout.respond-above(l) {
    max-height: 18rem;
    margin-bottom: -67px;
  }
}

.eventGroupDetails {
  padding: variables.$spacing-layout-s variables.$spacing-layout-xs;
  margin-bottom: variables.$spacing-layout-s;

  background: variables.$color-white;

  @include layout.respond-above(l) {
    padding: variables.$spacing-layout-m variables.$spacing-layout-xl;
  }

  .title {
    margin-top: 0;

    font-size: variables.$fontsize-heading-l;

    @include layout.respond-above(l) {
      font-size: variables.$fontsize-heading-xl;
    }
  }

  & > p {
    margin-bottom: 0;

    font-size: variables.$fontsize-body-l;
    font-weight: 300;
    line-height: variables.$lineheight-l;
  }
}

.eventList {
  margin: 0 variables.$spacing-xs;

  @include layout.respond-above(l) {
    margin: 0;
  }
}
