@import 'styles/variables';
@import 'styles/layout';

.wrapper {
  align-self: flex-start;
  padding: $spacing-layout-s $spacing-layout-xs;
  margin: $spacing-layout-s auto;
  max-width: 44.5rem;

  background-color: $color-white;

  h1,
  h2 {
    margin-bottom: $spacing-l;
  }

  @include respond-above(sm) {
    padding: $spacing-layout-m $spacing-layout-l;
  }

  .acquireButtonRow {
    display: flex;
    align-items: center;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: $spacing-3-xl;
    }

    & > * {
      width: 100%;
    }

    & > *:not(:last-child) {
      margin-bottom: $spacing-s;
    }

    @include respond-above(sm) {
      flex-direction: row;

      & > * {
        width: initial;
      }

      & > *:not(:last-child) {
        margin-bottom: 0;
        margin-right: $spacing-s;
      }
    }
  }

  .passwordWrapper {
    & > * {
      margin-bottom: $spacing-m;
    }
  }

  .continueButton {
    width: 100%;
    margin-top: $spacing-s;
    margin-bottom: $spacing-l;

    @include respond-above(sm) {
      width: initial;
    }
  }
}

.grey {
  background-color: $color-black-5;
}

hr {
  border-top: 1px solid rgb(216, 216, 216);
}
