@use '~styles/variables';
@use '~styles/layout';

.wrapper {
  align-self: flex-start;
  padding: variables.$spacing-layout-s variables.$spacing-layout-xs;
  margin: variables.$spacing-layout-s auto;
  max-width: 44.5rem;

  background-color: variables.$color-white;

  h1,
  h2 {
    margin-bottom: variables.$spacing-l;
  }

  @include layout.respond-above(m) {
    padding: variables.$spacing-layout-m variables.$spacing-layout-l;
  }

  .acquireButtonRow {
    display: flex;
    align-items: center;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: variables.$spacing-3-xl;
    }

    & > * {
      width: 100%;
    }

    & > *:not(:last-child) {
      margin-bottom: variables.$spacing-s;
    }

    @include layout.respond-above(m) {
      flex-direction: row;

      & > * {
        width: initial;
      }

      & > *:not(:last-child) {
        margin-bottom: 0;
        margin-right: variables.$spacing-s;
      }
    }
  }

  .passwordWrapper {
    & > * {
      margin-bottom: variables.$spacing-m;
    }
  }

  .continueButton {
    width: 100%;
    margin-top: variables.$spacing-s;
    margin-bottom: variables.$spacing-l;

    @include layout.respond-above(m) {
      width: initial;
    }
  }
}

.grey {
  background-color: variables.$color-black-5;
}

hr {
  border-top: 1px solid rgb(216, 216, 216);
}

.noFreeTicketSystemPasswordsLeftLabel {
  color: variables.$color-error;
}
