@use '~styles/variables';

.participantsPerInvite {
  padding: variables.$spacing-s;
  display: flex;
  align-items: center;

  font-weight: 500;

  background: variables.$color-fog-medium-light;

  & > * {
    margin-right: variables.$spacing-2-xs;
  }
}
