@use '~styles/variables';
@use '~styles/layout';

.passwordRow {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: variables.$spacing-l;
  margin-bottom: variables.$spacing-l;

  & > *:not(:last-child) {
    margin-bottom: variables.$spacing-s;
  }

  & > *:last-child {
    margin-top: variables.$spacing-m;
    width: 100%;
  }

  @include layout.respond-above(m) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: variables.$spacing-m;

    & > *:not(:last-child) {
      margin-right: variables.$spacing-s;
      margin-bottom: 0;
    }

    & > *:last-child {
      width: initial;
      margin-top: 0;
    }
  }
}
