@use '~styles/variables';
@use '~styles/layout';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: variables.$spacing-xs;

  @include layout.respond-above(m) {
    flex-direction: row;
  }

  .password {
    padding: variables.$spacing-s;
    width: min-content;

    font-size: variables.$fontsize-body-xl;
    text-transform: uppercase;
    letter-spacing: 6px;

    background-color: variables.$color-black-5;
  }

  .copyButton {
    padding: 0;

    text-decoration: underline;
    color: variables.$color-black-90;

    background: none;
    border: none;
    cursor: pointer;
  }

  .copyButtonWrapper {
    position: relative;
    @include layout.respond-above(m) {
      margin-right: 42px;
    }
  }

  .successCheckMark {
    color: variables.$color-success;
    position: absolute;
    bottom: -2px;
    right: -32px;
  }
}
