@import '~styles/variables';
@import '~styles/layout';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-xs;

  @include respond-above(sm) {
    flex-direction: row;
  }

  .password {
    padding: $spacing-s;
    width: min-content;

    font-size: $fontsize-body-xl;
    text-transform: uppercase;
    letter-spacing: 6px;

    background-color: $color-black-5;
  }

  .copyButton {
    padding: 0;

    text-decoration: underline;
    color: $color-black-90;

    background: none;
    border: none;
    cursor: pointer;
  }

  .copyButtonWrapper {
    position: relative;
    @include respond-above(sm) {
      margin-right: 42px;
    }
  }

  .successCheckMark {
    color: $color-success;
    position: absolute;
    bottom: -2px;
    right: -32px;
  }
}
