@use '~styles/variables';
@use '~styles/layout';
@use '~styles/fonts';

$korosIncludedPadding: 7rem;

.wrapper {
  padding: 2 * variables.$largeMargin 0;
  //
  display: grid;
  grid-template-columns: 1fr minmax(auto, variables.$containerMaxWidth) 1fr;
}

.contact {
  grid-column: 2;

  h2 {
    margin-top: 0;
    text-align: center;
  }

  .contactPersons {
    display: grid;
    text-align: center;

    p {
      &:first-child {
        font-size: fonts.$font-size-lg;
      }
    }
  }
}
