@import 'variables';
@import 'colors';
@import 'layout';

.welcome {
    display: grid;
    text-align: center;
    .hero {
        display: grid;
        @include respond-above(sm) {
            grid-template-columns: 1fr 10fr 1fr;
            .heroContainer {
                grid-column: 2;
            }
        }
     }
    .submitButton {
        display: grid;
        width: 100%;
        button {
            background: lighten($hel-summer, 20%);
            border: none !important;
            &:disabled {
                background: $hel-gray;
            }
        }
    }
    .tada {
        margin: 1em;
    }
}
