@import 'variables';
@import 'colors';
@import 'layout';

.welcome {
    text-align: center;
    .submitButton {
        display: grid;
        width: 100%;
        button {
            background: lighten($hel-summer, 20%);
            border: none !important;
            &:disabled {
                background: $hel-gray;
            }
        }
    }
    .tada {
        margin: 1em;
    }
}
