@use '~styles/layout';
@use '~styles/variables';

.wrapper {
  text-align: center;
  padding-bottom: 2 * variables.$largeMargin;

  display: grid;
  grid-template-columns: 1fr minmax(auto, variables.$containerMaxWidth) 1fr;

  .instructions {
    grid-column: 2;

    h2 {
      margin: 0;
      padding: variables.$largeMargin 0;
    }

    .icon {
      height: variables.$xlargeMargin;
      width: variables.$xlargeMargin;
      display: block;
      margin: 0 auto;
    }

    .iconContainer {
      display: grid;
      padding: 0 variables.$basePadding;

      @include layout.respond-above(m) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: variables.$baseMargin;
      }
    }
  }
}
