@use '~styles/variables';
@use '~styles/layout';
@use '~styles/fonts';

.childName,
.childInfo {
  @include layout.respond-above(l) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: variables.$baseMargin;
  }
}

.birthyearField {
  display: flex;
  flex-direction: column;

  label {
    font-size: fonts.$font-size-sm;
    margin-bottom: variables.$baseMargin * 0.25;
    font-weight: fonts.$font-weight-bold;
  }

  p {
    padding: 0;
    margin: 0;
  }
}

.deleteChildButton {
  margin-bottom: variables.$largeMargin;
  // Ensure that text is correctly left aligned despite HDS
  // extra whitespace
  transform: translateX(calc(var(--spacing-m) * -1));
  padding-left: 0;
}

.deleteChildButtonText {
  text-decoration: underline;
}

.formField {
  padding-bottom: variables.$basePadding;
}

.buttonGroup {
  margin: variables.$largeMargin 0;
}

.editChildButtons {
  display: grid;
  grid-gap: variables.$baseMargin;

  button {
    width: 100% !important;
  }
  .submitButton {
    @include layout.respond-below(m) {
      grid-row: 1;
    }
  }

  .cancelButton {
    @include layout.respond-below(m) {
      grid-row: 2;
    }
  }

  @include layout.respond-above(m) {
    grid-auto-flow: column;
  }

  @include layout.respond-below(m) {
    grid-auto-flow: row;
  }
}

.addChildButtons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submitButton {
  width: 80%;
  @include layout.respond-above(m) {
    width: 60%;
  }
}

.modal {
  h2 {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
}
