@use '~styles/layout';
@use '~styles/variables';

.infoPageLayout {
  @include layout.respond-below(l) {
    margin: 0 variables.$baseMargin variables.$largeMargin variables.$baseMargin;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: variables.$color-black-90;

  .infoPageLayoutFace {
    height: variables.$spacing-5-xl;
    width: variables.$spacing-5-xl;
    margin: 0 0 variables.$spacing-m 0;
  }

  .infoPageLayoutTitle {
    font-size: variables.$fontsize-heading-xl;
  }

  .infoPageLayoutDescription {
    max-width: variables.$container-width-m;
    margin-top: 0;
    margin-bottom: variables.$spacing-xl;

    font-size: variables.$fontsize-body-l;
    text-align: center;
  }
}

.callToActionButton {
  margin: 2 * variables.$baseMargin;
  width: min-content;
  max-width: variables.$container-width-s;
}
