@use '~styles/layout';
@use '~styles/variables';

.simpleFormPageLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: variables.$color-black-90;

  .simpleFormPageLayoutFace {
    height: variables.$spacing-5-xl;
    width: variables.$spacing-5-xl;
    margin: 0 0 variables.$spacing-m 0;
  }

  .simpleFormPageLayoutTitle {
    font-size: variables.$fontsize-heading-xl;
  }

  .simpleFormPageLayoutDescription {
    max-width: variables.$container-width-m;
    margin-top: 0;
    margin-bottom: variables.$spacing-xl;

    font-size: variables.$fontsize-body-l;
    text-align: center;
  }
  button[type='submit'] {
    margin: 2 * variables.$baseMargin;
    width: min-content;
    max-width: variables.$container-width-s;
  }

  @include layout.respond-below(l) {
    margin: 0 variables.$baseMargin variables.$largeMargin variables.$baseMargin;
  }
}
