@import 'mixins';

/* TODO: variables */

.row {
  @include respond-above(sm) {
    flex-direction: row;
  }
  display: flex;
  flex-direction: column;
}

.label {
  @include respond-above(sm) {
    & + & {
      margin-left: 30px;
    }
  }
  @include respond-below(sm) {
    & + & {
      margin-top: 10px;
    }
  }
  display: flex;
  justify-content: normal;
  flex-direction: row;
  border: 0;
  text-align: left;
  align-items: center;
}

.labelIcon {
  margin-right: 0.5rem;
}
