/* TODO: variables */

.row {
  display: flex;
  flex-direction: row;
}

.label {
  display: flex;
  justify-content: normal;
  flex-direction: row;
  border: 0;
  text-align: left;
  align-items: center;
  & + & {
    margin-left: 30px;
  }
}

.labelIcon {
  margin-right: 0.5rem;
}
