@use '~styles/layout';
@use '~styles/variables';

$iconSize: 2 * variables.$xlargeMargin;

.noEvent {
  padding: variables.$largeMargin;
  display: grid;
  background: variables.$color-white;
  @include layout.respond-above(m) {
    grid-template-columns: $iconSize 1fr;
    grid-gap: variables.$baseMargin;
  }
  p {
    align-self: center;

    @include layout.respond-below(m) {
      text-align: center;
    }
  }
  .envelopIcon {
    height: $iconSize;
    width: $iconSize;

    @include layout.respond-below(m) {
      justify-self: center;
    }
  }
}
