@import '~styles/variables';
@import '~styles/layout';

.formField {
  padding-bottom: $basePadding;
}

.email {
  label {
    font-weight: bold;
  }
  p {
    margin-top: $baseMargin * 0.25;
  }
}

.emailChangeButton,
.requestVerificationTokenButton {
  height: auto;
  min-height: unset !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  & span {
    color: var(--color-bus);
    padding: 0;
  }
}

.requestVerificationTokenButton {
  margin-top: 20px !important;
  padding: var(--spacing-s) !important;
  height: fit-content;
  font-size: large;
}

.emailVerificationTokenFieldWrapper {
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-gap: $baseMargin;

  button {
    width: 100%;
  }
}

.separator {
  margin: var(--spacing-l) 0;
}

.buttonsWrapper {
  display: grid;
  @include respond-above(m) {
    grid-template-columns: 1fr 1fr;
  }
  grid-gap: $baseMargin;
  margin: $largeMargin 0;
  button: {
    width: 100%;
  }
}

.cancelButton {
  @include respond-below(m) {
    grid-row: 2;
  }

  width: 100%;
}

.submitButton {
  @include respond-below(m) {
    grid-row: 1;
  }

  width: 100%;
}

.profileName {
  @include respond-above(m) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $baseMargin;
  }
}

.icon {
  display: block;
  margin: $largeMargin auto;
  height: $largeMargin;
  width: $largeMargin;
}
