@use '~styles/variables';
@use '~styles/layout';

.formField {
  padding-bottom: variables.$basePadding;
}

.email {
  label {
    font-weight: bold;
  }
  p {
    margin-top: variables.$baseMargin * 0.25;
  }
}

.emailChangeButton {
  height: auto;
  min-height: unset !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  & span {
    color: var(--color-bus);
    padding: 0;
  }
}

.requestVerificationTokenButton {
  margin-bottom: var(--spacing-s) !important;
}

.separator {
  margin: var(--spacing-l) 0;
}

.buttonsWrapper {
  display: grid;
  @include layout.respond-above(m) {
    grid-template-columns: 1fr 1fr;
  }
  grid-gap: variables.$baseMargin;
  margin: variables.$largeMargin 0;
  button: {
    width: 100%;
  }
}

.cancelButton {
  @include layout.respond-below(m) {
    grid-row: 2;
  }

  width: 100%;
}

.submitButton {
  @include layout.respond-below(m) {
    grid-row: 1;
  }

  width: 100%;
}

.profileName {
  @include layout.respond-above(m) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: variables.$baseMargin;
  }
}

.icon {
  display: block;
  margin: variables.$largeMargin auto;
  height: variables.$largeMargin;
  width: variables.$largeMargin;
}
