@use '~styles/variables';
@use '~styles/layout';

.notFound {
  text-align: center;
  align-self: center;

  .returnLink {
    width: 50%;
    @include layout.respond-below(m) {
      width: 80%;
    }

    display: block;
    margin: variables.$largeMargin auto auto auto;
    background: variables.$color-summer;
    box-sizing: border-box;
    text-decoration: none;
    padding: variables.$basePadding;
    color: variables.$color-black;
  }
}

.icon {
  display: block;
  margin: 0 auto;
  height: variables.$largeMargin;
  width: variables.$largeMargin;
}
