@import '~styles/layout';
@import '~styles/variables';

.container {
  display: grid;
}

@include respond-between(m, xxl) {
  .container {
    grid-template-columns: 1fr 10fr 1fr;

    & > * {
      grid-column: 2;
    }
  }
}

@include respond-above(xxl) {
  .container {
    grid-template-columns: 1fr minmax(auto, $containerMaxWidth) 1fr;

    & > * {
      grid-column: 2;
    }
  }
}
