@use '~styles/layout';
@use '~styles/variables';

.container {
  display: grid;
}

@include layout.respond-between(m, xxl) {
  .container {
    grid-template-columns: 1fr 10fr 1fr;

    & > * {
      grid-column: 2;
    }
  }
}

@include layout.respond-above(xxl) {
  .container {
    grid-template-columns: 1fr minmax(auto, variables.$containerMaxWidth) 1fr;

    & > * {
      grid-column: 2;
    }
  }
}
