@use '~styles/layout';
@use '~styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;

  padding-bottom: 7rem;

  background: #f9f9f9;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: variables.$spacing-layout-s;

  padding: 0 variables.$spacing-2-xs 0 variables.$spacing-s;
  margin: 0 auto;
  max-width: variables.$breakpoint-xl;

  @include layout.respond-above(m) {
    row-gap: variables.$spacing-layout-m;

    padding: 0 variables.$spacing-m;
  }
}

$backButtonWidth: 5 * 16px;
$backButtonAsideBreakpoint: $backButtonWidth + variables.$breakpoint-xl;

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'backButton backButton'
    'title title'
    'content content'
    'actions actions';
  row-gap: variables.$spacing-layout-xs;
  align-items: center;

  @include layout.respond-above(m) {
    grid-template-rows: auto auto;
    grid-template-areas:
      'backButton backButton'
      'title actions'
      'content content';
  }

  @media screen and (min-width: $backButtonAsideBreakpoint) {
    grid-template-columns: $backButtonWidth 1fr auto;
    grid-template-areas:
      'backButton title actions'
      'empty content content';

    margin-left: $backButtonWidth * -1;
  }

  & .headerBackButtonContainer {
    grid-area: backButton;
  }
  & .headerTitle {
    grid-area: title;
  }
  & .headerContent {
    grid-area: content;
  }
  & .headerActions {
    grid-area: actions;
  }

  margin-top: variables.$spacing-layout-s;

  // Remove margin from text elements so that we can control them with
  // gaps.
  & * {
    margin-bottom: 0;
  }
}

.headerActions {
  display: flex;
  align-items: center;
  column-gap: variables.$spacing-l;
}

.headerBackButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: variables.$spacing-s;

  color: variables.$color-black-90;

  background: variables.$color-white;
  border-radius: 100%;
}
