@use '~styles/variables';

body {
  margin: 0;
}

.pageWrapper {
  height: 100%;
  width: 100%;

  display: grid;

  grid-template-rows: auto 1fr;
  min-height: 100vh;
  row-gap: 0 !important;
}

.pageBody {
  display: grid;
}
