@use '~styles/variables';
@use '~styles/layout';

.homeForm {
  padding: 2 * variables.$largeMargin 0;

  form {
    display: grid;
    gap: variables.$baseMargin 0;
  }

  .inputWrapper {
    display: grid;
    align-items: baseline;
    @include layout.respond-above(l) {
      grid-template-columns: 1fr 1fr;
      gap: 0 variables.$baseMargin;
    }
  }
}

.wrapper {
  @include layout.formContainer();

  @include layout.respond-below(l) {
    padding: 0 variables.$baseMargin;
  }
}

.submitButton {
  justify-self: center;
  width: 80%;
  @include layout.respond-above(m) {
    width: 60%;
  }
}

.heading {
  text-align: center;
  h2 {
    margin-top: 0;
  }
  p {
    margin-bottom: variables.$largeMargin;
  }
}
