@use '~styles/layout';

.hideBelowSmall {
  @include layout.respond-below(s) {
    display: none;
  }
}

.userLink {
  display: flex !important;
  justify-content: start !important;
  --outline-gutter: 0 !important;
  width: 100%;
}
