// Only custom color which different from Helsinki Design System color defined here

$black: #000;
$red: #ff0000;
$white: #fff;

$hel-light: lighten(#ebedf1, 3%);
// TODO: somehow this one should be using css-variable

$footerGray: #666666;
