// Only custom color which different from Helsinki Design System color defined here

$black: #000;
$red: #ff0000;
$white: #fff;

$hel-light: #f1f1f1;
// TODO: somehow this one should be using css-variable

$footerGray: #666666;
