@use '~styles/fonts';
@use '~styles/variables';

// Override globally all text to use Helsinki font.

* {
  font-family: fonts.$font-family-base;
}

p,
span,
li {
  line-height: variables.$baseLineHeight;
}

#cookie-consent-language-selector-button {
  display: none;
}
