@import 'fonts';
@import 'variables';

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
}

* {
  font-family: var(--hds-theme-primary-font);
}

button {
  &:focus {
    outline: 1px solid var(--hds-brand-color-coat-of-arms-blue);
  }
}
