@use '~styles/variables';
@use '~styles/layout';
@use './partial/childFormFields.module.scss';

$plusIconHeight: 2rem;

.registrationFormContainer {
  display: grid;
}

.registrationWhiteContainer,
.registrationGrayContainer {
  display: grid;
  h1 {
    margin-bottom: auto;
  }
  @include layout.respond-above(l) {
    grid-template-columns: 1fr minmax(auto, variables.$containerFormMaxWidth) 1fr;
  }

  @include layout.respond-below(l) {
    grid-template-columns: 1fr 10fr 1fr;
  }
}

.guardianName {
  @include layout.respond-above(l) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: variables.$baseMargin;
  }
}

.submitButton {
  margin: variables.$largeMargin 0 !important;
}

.addNewChildButton {
  display: flex;
  margin: variables.$baseMargin 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start !important;
  // Left-align with form fields
  transform: translateX(calc(var(--spacing-m) * -1));
}

.grayBackground,
.registrationGrayContainer {
  background: var(--color-black-5);
}

.registrationWhiteContainer {
  background: var(--color-white);

  > * {
    grid-column: 2;
  }
}

.registrationGrayContainer {
  > * {
    grid-column: 2;
  }
  margin: variables.$baseMargin;
}

.guardianInfo {
  padding-top: variables.$baseMargin;
}

.plusIcon {
  height: $plusIconHeight;
  width: $plusIconHeight;
}

.heading {
  padding: variables.$baseMargin;
}

.required {
  font-weight: bold;
}

.agreeContainer {
  display: flex;
  align-items: center;
}

.agreeLabel {
  margin-left: -3px;
}
