@import 'mixins';
@import 'fonts';

/* TODO: variables */

.wrapper {
  @include respond-above(sm) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  background: $white;
  & + & {
    margin-top: 20px;
  }
  margin: 0 -1rem;
  padding: 1rem 1rem;
}

.middle {
  @include respond-above(sm) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 20px;
    .title {
      margin-bottom: 0;
    }
    .primaryActionButton {
      order: 1;
      margin-top: 1em;
    }
  }
  >:first-child {
    margin-top: 0;
  }
  >:last-child {
    margin-bottom: 0;
  }
  margin: 20px 0;
}

.end {
  @include respond-above(sm) {
    margin-right: 20px;
    & .actionText {
      display: none;
    }
  }
}

/* TODO: move to caller? */
.content {
  >:first-child {
    margin-top: 0;
  }
  >:last-child {
    margin-bottom: 0;
  }
}

.primaryActionButton {
  @include button();
  button {
    @include respond-below(sm) {
      width: 100%;
    }
  }
  text-align: left;
}

.actionWrapper {
  display: flex;
  justify-content: normal;
  flex-direction: row;
  border: 0;
  width: 100%;
  text-align: left;
  align-items: center;
}

.actionText {
  font-weight: $font-weight-bold;
}

.gotoAction {
  transform: rotate(-90deg);
}
