@import 'mixins';
@import 'fonts';

/* TODO: variables */

.wrapper {
  @include respond-above(sm) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  background: $white;
  & + & {
    margin-top: 20px;
  }
}

.middle {
  @include respond-above(sm) {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    margin-left: 20px;
  }
  margin: 20px 0;
}

.end {
  @include respond-above(sm) {
    margin-right: 20px;
    & .actionText {
      display: none;
    }
  }
}

/* TODO: move to caller? */
.content {
  >:first-child {
    margin-top: 0;
  }
  >:last-child {
    margin-bottom: 0;
  }
}

.primaryActionButton {
  @include button();
  @include respond-above(sm) {
    margin-top: 20px;
    margin-bottom: 0;
  }
  text-align: left;
  margin-bottom: 20px;
}

.actionWrapper {
  display: flex;
  justify-content: normal;
  flex-direction: row;
  border: 0;
  width: 100%;
  text-align: left;
  align-items: center;
}

.actionText {
  font-weight: $font-weight-bold;
}

.gotoAction {
  transform: rotate(-90deg);
}
