@use '~styles/variables';
@use '~styles/layout';

.modal {
  text-align: center;
}

.buttonGroup {
  margin: variables.$largeMargin 0;

  @include layout.respond-above(m) {
    display: grid;
    grid-gap: variables.$baseMargin;
    grid-auto-flow: column;
  }

  @include layout.respond-below(m) {
    display: flex;
    flex-direction: column-reverse;
    .okButton {
      margin-bottom: variables.$baseMargin;
    }
  }
}
